#search-event
	float: right;
	margin-left: 10px;
	font-size: 19px;
	border: none;
	padding: 5px 5px;
	width: 592px;
	margin-top: -4px;
	
.tabbable-line > .nav-tabs > li
	border-bottom: 4px solid transparent;

.flag-logros
	width: 22px

.no-display
	display:	none
.site-logo
	margin-right: 17px;

	img
		-webkit-filter: grayscale(100%);
		width: 60px;

		&:hover
			-webkit-filter: grayscale(0);

.page-perfil
	margin-top: -25px;
	clear: both;

	.header-profile
		height: 417px;
		position: relative;
		
		.user-data
			height: 100px;
			position: absolute;
			bottom: 0px;
			background: #000000;
			width: 100%;
			opacity: 0.8;

			.avatar
				position: 		absolute;
				left: 			30px;
				top: 			-45px;
				height: 		120px;
				width: 			120px;

				img
					height: 	120px;
					width: 		120px;

			h1.name
				color: 			#C00909;
				position: 		absolute;
				left: 			180px;
				top: 			20px;
				font-size: 		31px;
				padding: 		0px;
				margin: 		0px;
				font-weight: 	bold;

			.controls
				position: absolute;
				left: 180px;
				bottom: 23px;
				text-transform: uppercase;
				font-size: 12px;

				a
					color: #FFFFFF;
					margin-right: 20px;

					&:hover
						text-decoration:	none

			.stats
				width: 375px;
				position: absolute;
				top: 20px;
				right: 30px;
				height: 65px;
				background: #ccc;
				opacity: 1;

				ul 
					li
						display: 		table-cell;
						width: 			1%;
						font-size: 		16px;
						text-align: 	center;
						padding-top: 	7px;
						font-weight:	bold;

						span
							display: block;
							color: #F50601;
							font-size: 20px;

	.ul
		padding: 0px;
		margin: 0px;
.page-voluntario
	.nav-tabs
		background: #F4F4F4

	.nav-tabs>li>a
	.nav-tabs>li>.active
	.nav-tabs>li>.active:hover
	.nav-tabs>li>.active a
	.nav-tabs>li>.active a:hover
		margin-right: 	0px;
		padding:		13px 25px !important
		font-size: 		16px;

	.nav-tabs>li>a:hover
		background: #E6400C
		color:		#FFFFFF
		padding:		13px 25px !important

	.logros-reconocimientos
		padding: 4px 10px 0px 0px;
		border-left: none;
		margin: 25px 0;

		h2
			margin: 5px;

.mr10
	margin-right: 10px